@import url(//unpkg.com/element-ui@2.15.1/lib/theme-chalk/index.css);
* {
  padding: 0;
  margin: 0;
}

body {
  background: #c8c8c8;
  font-family: Helvetica, sans-serif;
}

.header {
  position: fixed;
  width: 100%;
  background: #191919;
  opacity: 0.7;
}

header {
  height: 100vh;
  background: linear-gradient(180deg, #191919, #c8c8c8);
}

nav {
  padding: 15px 0 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}
nav .nav__link {
  color: #c8c8c8;
  margin-left: 32px;
  text-decoration: none;
  transition: color 0.4s;
}
nav .nav__link:hover {
  color: #f8f8f8;
}

.grid-content {
  border-radius: 4px;
  min-height: 36px;
}

.bg-purple-dark {
  background: #99a9bf;
}
